<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/'"></ion-back-button>
    </ion-buttons>
    <ion-title class="custom-title">Generador QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-container">
    <ion-title class="ion-text-center welcome-title">Bienvenido docente</ion-title>
    <p class="ion-text-center user">{{ userValue }}</p>
  </div>

  <div class="scan-button-container">
    <ion-button expand="full" shape="round" color="primary" (click)="goGenerarQr()">Generar QR</ion-button>
  </div>
</ion-content>
