<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>DocentePage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">DocentePage</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content>
  <ion-card class="cardLogin">
    <ion-card-header>
      <ion-card-title class="cardTitle">QrAsistencia</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <form >
        <ion-item>
          <ion-label>Usuario</ion-label>
          <ion-input placeholder="Ingrese nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Contraseña</ion-label>
          <ion-input placeholder="Ingrese nombre"></ion-input>
        </ion-item>
      </form>
      <ion-button (click)="goDocenteQr()" shape="round" class="btnIngresar">Ingresar</ion-button>
      <ion-button fill="clear" shape="round" class="btnRecuperarContraseña">Recuperar contraseña</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>