<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="custom-title">
      <span class="animated-text">Registr<span class="highlight">App</span></span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">
  <div class="content-container">
    <div class="bienvenido-container">
      <ion-title class="bienvenido">¡Bienvenido!</ion-title>
    </div>
    <div class="userSelection">
      <ion-button expand="full" (click)="goLoginDocente()" color="success" class="custom-button">Ingresar como docente</ion-button>
      <ion-button expand="full" (click)="goLoginAlumno()" color="warning" class="custom-button">Ingresar como alumno</ion-button>
    </div>
  </div>
</ion-content>
